{%extends 'base.html'%}
{%block content%}
    

    <div class="container">
        <div class="col-12-lg col-12-md col-12-sm">
                <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h1 class="display-4">WELCOME TO THE HOME OF NEWS</h1>
                        </div>
                      </div>
        </div>
   
        <div class="row">
            <div class="col-lg-12">

                        <div class="card p-3">
                                {%for latest_news in sports%}
                            <img class="card-img-top" src="{{latest_news.urlToImage}}" alt="Card image cap">
                                <div class="card-body">
                                     <h5 class="card-title"><strong>{{latest_news.title}}</strong></h5>
                                     <p class="card-text">{{latest_news.content}}</p>
                                     <a href="{{latest_news.url}}" class="btn btn-primary">Read More</a>
                                     <p>Author: </p><span class="badge badge-dark">{{latest_news.author}}</span>
                                </div>
                                {%endfor%}
                        </div>
                        
                   
            </div>
        </div>
        <button type="button" class="btn btn-info">Info</button>

    </div>
{%endblock%}